<!-- <table *ngIf="workshops"> -->
  <table datatable class="row-border table table-striped table-hover">
  <thead>
    <tr>
      <td>Col 1</td>
      <td>Col 2</td>
      <td>Col 3</td>
      <td>Col 4</td>
      <td>Col 5</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Col1 Data</td>
      <td>Col2 Data</td>
      <td>Col3 Data</td>
      <td>Col4 Data</td>
      <td>Col5 Data</td>
    </tr>
    <tr>
      <td>Col1 Data</td>
      <td>Col2 Data</td>
      <td>Col3 Data</td>
      <td>Col4 Data</td>
      <td>Col5 Data</td>
    </tr>
    <tr>
      <td>Col1 Data</td>
      <td>Col2 Data</td>
      <td>Col3 Data</td>
      <td>Col4 Data</td>
      <td>Col5 Data</td>
    </tr>
    <tr>
      <td>Col1 Data</td>
      <td>Col2 Data</td>
      <td>Col3 Data</td>
      <td>Col4 Data</td>
      <td>Col5 Data</td>
    </tr>
    <tr class='table-success'>
      <td>Col1 Data</td>
      <td>Col2 Data</td>
      <td>Col3 Data</td>
      <td>Col4 Data</td>
      <td>Col5 Data</td>
    </tr>
    <tr>
      <td>Col1 Data</td>
      <td>Col2 Data</td>
      <td>Col3 Data</td>
      <td>Col4 Data</td>
      <td>Col5 Data</td>
    </tr>
  </tbody>
</table>